body{
  background-color: rgb(211, 223, 216);
}
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("https://www.w3schools.com/w3images/mac.jpg");
    position: absolute; 
    animation: 3s infinite ease-in-out roll; 
    min-height: 100%;
    transform: translate(-50%); 
    
  }

  .scan { 
    position: absolute; 

    border: dashed .25em rgb(90, 85, 85); 
    transform: translate(-100%); 
} 
  
.scan::after { 
    background: rgb(23, 162, 74); 
    position: absolute; 
    animation: 5s infinite ease-in-out roll; 
} 
  
.scan img { 
    height: 300px;  
} 
  
@keyframes roll { 
    0% { 
        transform: translateX(-50px); 
    } 
    50% { 
        transform: translateX(50px); 
    } 
    100% { 
        transform: translateX(-50px); 
    } 
}
  
  .w3-bar .w3-button {
    padding: 16px;
  }

  .header1 {
    color: rgba(255, 255, 255, 0.767);
  }

  .cangiua {
    /* display: block;
    margin-left: auto; 
    margin-right: auto;
    border: solid 3px red;
    width: 30%;
    background-size: cover */
  }

  .ghep{
    position:absolute;
  }

  .fontHeader{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
  }

  .w3-image {
    max-width: 200%;
    max-height: 100%;
    height: auto;
}

.glow-on-hover {
    margin: 10px 10px 10px 150px;
    width: 500px;
    height: 60px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    /* line-height: 1.5cm; */
    display:flex;
    align-items:center;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.glow {
    font-size: 80px;
    color: #1ee7ccb6;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #c51919ea, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #2eaf7e, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #dbc816, 0 0 30px #279957, 0 0 40px #2b5ea0, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}



@import url("https://fonts.googleapis.com/css?family=Raleway:400");

* {
	box-sizing: border-box;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}


h1.post_title {
  font-size: 26px;
  margin: 0 0 10px;
  font-weight: 700;
  color: #333;
  line-height: 1.45;
}
.post_title {
  display: table;
  padding-left: 15px;
  font-size: 22px;
  font-weight: normal;
}
.BSW-font-wave-color {
  margin: auto;
  line-height: 42px;
  font-size: 30px;
  text-align: left;
  background: linear-gradient( 60deg,hsl(0,75%,50%) 10%,hsl(20,75%,50%) 10%,hsl(20,75%,50%) 25%,hsl(50,75%,50%) 25%,hsl(50,75%,50%) 40%,hsl(130,75%,50%) 40%,hsl(130,75%,50%) 55%,hsl(200, 100%, 59%) 55%,hsl(200,75%,50%) 70%,hsl(260,75%,50%) 70%,hsl(260, 100%, 59%) 85%,hsl(0,75%,50%) 85% );
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 10s BeProud linear infinite;
}
h1 {
  font-size: 22px;
  margin: 0.3em 0;
}
biểu định kiểu tác nhân người dùng
:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.post {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  overflow: hidden;
}



.glow-on-hover {
  margin: 10px 10px 10px 150px;
  width: 500px;
  height: 60px;
  border: none;
  outline: none;
  color: #ffffff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  width: 30%;
  display: flex;
  justify-content: center;
  margin-left: 35%;
  /* line-height: 1.5cm; */
  display:flex;
  align-items:center;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.glow {
  font-size: 80px;
  color: #12584fb6;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #c51919ea, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #2eaf7e, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #dbc816, 0 0 30px #279957, 0 0 40px #2b5ea0, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


@import url("https://fonts.googleapis.com/css?family=Raleway:400");

* {
box-sizing: border-box;
}

@property --angle {
syntax: '<angle>';
initial-value: 90deg;
inherits: true;
}

@property --gradX {
syntax: '<percentage>';
initial-value: 50%;
inherits: true;
}

@property --gradY {
syntax: '<percentage>';
initial-value: 0%;
inherits: true;
}

body {
margin: 0;
padding: 1rem;
background-color: rgba(10, 12, 18, 1);
color: white;
}

p {
margin: 0;
}

:root {
--d: 2500ms;
--angle: 90deg;
--gradX: 100%;
--gradY: 50%;
--c1: rgb(44, 190, 223);
--c2: rgba(218, 35, 172, 0.541);
}

.wrapper {
min-width: min(40rem, 100%);
}

.box {
font-size: 1vw;
margin: max(1rem, 3vw);
border: 0.35rem solid;
padding: 2vw;
border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
100% {
  --angle: 420deg;
}
}

@keyframes borderRadial {
20% {
  --gradX: 100%;
  --gradY: 50%;
}
40% {
  --gradX: 100%;
  --gradY: 100%;
}
60% {
  --gradX: 50%;
  --gradY: 100%;
}
80% {
  --gradX: 0%;
  --gradY: 50%;
}
100% {
  --gradX: 50%;
  --gradY: 0%;
}
}



@keyframes my { 
  0% { color: #f80a0a;  } 
  25% { color: #a618cab7;  }
  50% { color: #0922ffa6;  } 
  75% { color: #e7d90ca9;  } 
  100% { color: #3ef008b2;  } 
} 
.animation {
      background:#1bc4a8;
      font-size:24px;
      font-weight:bold;
  -webkit-animation: my 1200ms infinite;
  -moz-animation: my 1000ms infinite; 
  -o-animation: my 1200ms infinite; 
  animation: my 1000ms infinite;
}

.fontStyle{
  font-size: 26px;font-family:'Times New Roman', Times, serif;
}



.glow-on-hover {
  margin: 10px 10px 10px 150px;
  width: 500px;
  height: 60px;
  border: none;
  outline: none;
  color: #ffffff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  width: 30%;
  display: flex;
  justify-content: center;
  margin-left: 35%;
  /* line-height: 1.5cm; */
  display:flex;
  align-items:center;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.glow {
  font-size: 80px;
  color: #1ee7ccb6;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #c51919ea, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #2eaf7e, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #dbc816, 0 0 30px #279957, 0 0 40px #2b5ea0, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}



@import url("https://fonts.googleapis.com/css?family=Raleway:400");

* {
box-sizing: border-box;
}

@property --angle {
syntax: '<angle>';
initial-value: 90deg;
inherits: true;
}

@property --gradX {
syntax: '<percentage>';
initial-value: 50%;
inherits: true;
}

@property --gradY {
syntax: '<percentage>';
initial-value: 0%;
inherits: true;
}


h1.post_title {
font-size: 26px;
margin: 0 0 10px;
font-weight: 700;
color: #333;
line-height: 1.45;
}
.post_title {
display: table;
padding-left: 15px;
font-size: 22px;
font-weight: normal;
}
.BSW-font-wave-color {
margin: auto;
line-height: 42px;
font-size: 30px;
text-align: left;
background: linear-gradient( 60deg,hsl(0,75%,50%) 10%,hsl(20,75%,50%) 10%,hsl(20,75%,50%) 25%,hsl(50,75%,50%) 25%,hsl(50,75%,50%) 40%,hsl(130,75%,50%) 40%,hsl(130,75%,50%) 55%,hsl(200, 100%, 59%) 55%,hsl(200,75%,50%) 70%,hsl(260,75%,50%) 70%,hsl(260, 100%, 59%) 85%,hsl(0,75%,50%) 85% );
color: #fff;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: 10s BeProud linear infinite;
}
h1 {
font-size: 22px;
margin: 0.3em 0;
}
biểu định kiểu tác nhân người dùng
:-webkit-any(article, aside, nav, section) h1 {
font-size: 1.5em;
margin-block-start: 0.83em;
margin-block-end: 0.83em;
}
h1 {
display: block;
font-size: 2em;
margin-block-start: 0.67em;
margin-block-end: 0.67em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}
.post {
margin: 0;
font-size: 16px;
line-height: 1.5;
font-weight: 400;
overflow: hidden;
}



.neon-on-hover {
color: #217bf0;
background: #000000;
position: relative;
z-index: 0;
border-radius: 15px;
display: flex;
width: 60%;
line-height: 1.5cm;
display:flex;
align-items:center;
}

.neon-on-hover:before {
content: '';
background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
position: absolute;
top: -2px;
left:-2px;
background-size: 400%;
z-index: -1;
filter: blur(0px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing 20s  infinite;
opacity: 0;
transition: opacity .3s ease-in-out;
border-radius: 10px;
}

.neon-on-hover:active {
color: #f5a9a9
}

.neon-on-hover:active:after {
background: transparent;
background-color: #00ffd5;
}

.neon-on-hover:hover:before {
opacity: 1;
}

.neon-on-hover:after {
z-index: -1;
content: '';
position: absolute;
background: #111;
background-color: #00ffd5;
}

@keyframes neon {
0% { background-position: 0 0; }
50% { background-position: 400% 0; }
100% { background-position: 0 0; }
}

.neon {
font-size: 30px;
color: #12584fb6;
animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes neon {
from {
  text-shadow: 0 0 10px #c51919ea, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #2eaf7e, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

to {
  text-shadow: 0 0 20px #dbc816, 0 0 30px #279957, 0 0 40px #2b5ea0, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
}

.logo{
    background-color:aquamarine; 
    width: 50px;
    text-align: justify;
    align-items: center;
    display: inline;
    vertical-align: top;
}
